<a href="https://colab.research.google.com/github/gurudattamanpreet/Practice/blob/main/Shiv_Concept_Class1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df=[10,20,30,40]

In [3]:
s=pd.Series(df)

In [4]:
s

0    10
1    20
2    30
3    40
dtype: int64

In [5]:
s=pd.Series([100,200,300],index=['a','b','c'])

In [6]:
s

a    100
b    200
c    300
dtype: int64

In [7]:
c=pd.Series([30,32,35],index=['hello','friend','dear'],dtype='float64')

In [8]:
c

hello     30.0
friend    32.0
dear      35.0
dtype: float64

In [9]:
print('how many places have you visited')
e=pd.Series(['Goa','Jalandar','Guhawti'],index=[34,45,36])
print(e.str.upper(),'\n')
print(e.str.len())
print(e.str.contains('G'))

how many places have you visited
34         GOA
45    JALANDAR
36     GUHAWTI
dtype: object

34    3
45    8
36    7
dtype: int64
34     True
45    False
36     True
dtype: bool

In [10]:
q=pd.Series([10,55,30], index=['price1','price2','price3'])
f=q.mean()
f

31.666666666666668

In [11]:
e.tolist()
e

34         Goa
45    Jalandar
36     Guhawti
dtype: object

In [12]:
s = pd.Series([10, 20, 30, 40])

In [13]:
s.tolist()
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [14]:
s.to_dict()
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [15]:
s.to_numpy()
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [16]:
s = pd.Series([10, 20, 30, 40])
s

0    10
1    20
2    30
3    40
dtype: int64

In [17]:
s.tolist()

[10, 20, 30, 40]

In [18]:
s.to_numpy()

array([10, 20, 30, 40])

In [19]:
s.to_dict()

{0: 10, 1: 20, 2: 30, 3: 40}

In [20]:
s.tolist()

[10, 20, 30, 40]

In [21]:
s[3]

40

In [22]:
c

hello     30.0
friend    32.0
dear      35.0
dtype: float64

In [23]:
r=pd.Series([34,45,32,56,98,21,56,36,2,12,90])
r

0     34
1     45
2     32
3     56
4     98
5     21
6     56
7     36
8      2
9     12
10    90
dtype: int64

In [24]:
r[2]

32

In [25]:
d=pd.Series([23,35,46])
w=pd.Series([32,76,96])

In [26]:
v=pd.concat([d,w])
v

0    23
1    35
2    46
0    32
1    76
2    96
dtype: int64

In [27]:
pd.concat([e,d,w,r])

34         Goa
45    Jalandar
36     Guhawti
0           23
1           35
2           46
0           32
1           76
2           96
0           34
1           45
2           32
3           56
4           98
5           21
6           56
7           36
8            2
9           12
10          90
dtype: object

In [28]:
r.drop(1)

0     34
2     32
3     56
4     98
5     21
6     56
7     36
8      2
9     12
10    90
dtype: int64

In [29]:
r.sort_values(ascending=False)

4     98
10    90
3     56
6     56
1     45
7     36
0     34
2     32
5     21
9     12
8      2
dtype: int64

In [30]:
#doubt
s = pd.Series([1, 2, 3, 4])

print(s.apply(lambda x: x**2))

0     1
1     4
2     9
3    16
dtype: int64

In [31]:
r=pd.Series([34,45,32,56,98,21,56,36,2,12,90])
r

0     34
1     45
2     32
3     56
4     98
5     21
6     56
7     36
8      2
9     12
10    90
dtype: int64

In [32]:
r.iloc[-9]

32

In [33]:
import numpy as np

x = np.nan
print(x)
print(type(x))

nan
<class 'float'>

In [34]:
r=r.astype(float)

In [35]:
r

0     34.0
1     45.0
2     32.0
3     56.0
4     98.0
5     21.0
6     56.0
7     36.0
8      2.0
9     12.0
10    90.0
dtype: float64

In [36]:
r

0     34.0
1     45.0
2     32.0
3     56.0
4     98.0
5     21.0
6     56.0
7     36.0
8      2.0
9     12.0
10    90.0
dtype: float64

In [37]:
np.random.randint(1,6,10)

array([3, 1, 1, 5, 5, 2, 3, 1, 1, 1])

In [38]:
name = ["Amit", "Neha", "Rahul"]
code = [101, 102, 103]
age = [25, 30, 28]

print(name)
print(code)
print(age)

['Amit', 'Neha', 'Rahul']
[101, 102, 103]
[25, 30, 28]

In [39]:
data=list(zip(name,code,age))
df2=pd.DataFrame(data,columns=['name','code','age'],index=['student1','student2','student3'])
df2

           name  code  age
student1   Amit   101   25
student2   Neha   102   30
student3  Rahul   103   28

In [40]:
city=['ajmer','udaipur','jaipur']
population=[20,50,60]
vehicle=['2-wheeler','4-wheeler','2-wheeler']

In [41]:
df1=zip(city,population,vehicle)

In [42]:
df3=pd.DataFrame(df1,columns=['city','population','vehicle'])
df3

      city  population    vehicle
0    ajmer          20  2-wheeler
1  udaipur          50  4-wheeler
2   jaipur          60  2-wheeler

In [43]:
pd.DataFrame(df1)

Empty DataFrame
Columns: []
Index: []

In [44]:
city=['ajmer','udaipur','jaipur']

In [45]:
city.sort()
city

['ajmer', 'jaipur', 'udaipur']

In [46]:
city=['ajmer','udaipur','jaipur']
population=[20,50,60]
vehicle=['2-wheeler','4-wheeler','2-wheeler']

In [47]:
names = pd.Series(["Amit", "Neha", "Rahul"])
codes = pd.Series([101, 102, 103])
ages = pd.Series([25, 30, 28])

In [48]:
s3=list(zip(names,codes,ages))
pd.DataFrame(s3,columns=['name','code','age'],index=['student1','student2','student3'])

           name  code  age
student1   Amit   101   25
student2   Neha   102   30
student3  Rahul   103   28

In [49]:
s3

[('Amit', 101, 25), ('Neha', 102, 30), ('Rahul', 103, 28)]

In [50]:
f = {'name' : ['xyz','abc'],'Marks':[99,10,88]}
print(f)

{'name': ['xyz', 'abc'], 'Marks': [99, 10, 88]}

In [51]:
a=range(1,100,2)

In [52]:
print(list(a))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [53]:
print(list(range(0,101,2)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [54]:
print(tuple(range(0,100,2)))

(0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [55]:
print('how many places have you visited')
e=pd.Series(['Goa','Jalandar','Guhawti'],index=[34,45,36])
print(e.str.upper(),'\n')
print(e.str.len())
print(e.str.contains('G'))

how many places have you visited
34         GOA
45    JALANDAR
36     GUHAWTI
dtype: object

34    3
45    8
36    7
dtype: int64
34     True
45    False
36     True
dtype: bool

In [56]:
print('how many places have you visited')
ae=pd.Series(['Goa','Jalandar','Merut','Shimla'],index=[3,4,6,2])
ae.name='cities'
print(ae)
print(ae.str.len())
print(ae.str.upper())
print(ae.str.contains('G'))

how many places have you visited
3         Goa
4    Jalandar
6       Merut
2      Shimla
Name: cities, dtype: object
3    3
4    8
6    5
2    6
Name: cities, dtype: int64
3         GOA
4    JALANDAR
6       MERUT
2      SHIMLA
Name: cities, dtype: object
3     True
4    False
6    False
2    False
Name: cities, dtype: bool

In [60]:
gh=pd.Series(['apple','boat','cat','tiger','wolf'], index=[2,5,3,1,9])
print(gh)

2    apple
5     boat
3      cat
1    tiger
9     wolf
dtype: object

In [74]:
dr=tuple(zip(gh))
print(dr)
we=pd.DataFrame(dr,columns=['name'])
print(we)

(('apple',), ('boat',), ('cat',), ('tiger',), ('wolf',))
    name
0  apple
1   boat
2    cat
3  tiger
4   wolf

In [108]:
a=(1,2,3)
b=('manchester','christiano','messi')
c=zip(tuple((a,b)))
print(c)

<zip object at 0x7b34901f5d80>

In [89]:
print(list(zip(c)))

[(([1, 2, 3],),), ((['manchester', 'christiano', 'messi'],),)]

In [90]:
print(tuple(zip(c)))

()

In [91]:
print(list(c))

[]

In [109]:
a[0]=60
print((tuple(c)))

TypeError: 'tuple' object does not support item assignment