<a href="https://colab.research.google.com/github/gurudattamanpreet/Practice/blob/main/Shiv_Concept_Class1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=[10,20,30,40]

In [ ]:
s=pd.Series(df)

In [ ]:
s

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
s=pd.Series([100,200,300],index=['a','b','c'])

In [ ]:
s

a    100
b    200
c    300
dtype: int64

In [ ]:
c=pd.Series([30,32,35],index=['hello','friend','dear'],dtype='float64')

In [ ]:
c

hello     30.0
friend    32.0
dear      35.0
dtype: float64

In [ ]:
print('how many places have you visited')
e=pd.Series(['Goa','Jalandar','Guhawti'],index=[34,45,36])
print(e.str.upper(),'\n')
print(e.str.len())
print(e.str.contains('G'))

how many places have you visited
34         GOA
45    JALANDAR
36     GUHAWTI
dtype: object

34    3
45    8
36    7
dtype: int64
34     True
45    False
36     True
dtype: bool

In [ ]:
q=pd.Series([10,55,30], index=['price1','price2','price3'])
f=q.mean()
f

31.666666666666668

In [ ]:
e.tolist()
e

34         Goa
45    Jalandar
36     Guhawti
dtype: object

In [ ]:
s = pd.Series([10, 20, 30, 40])

In [ ]:
s.tolist()
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
s.to_dict()
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
s.to_numpy()
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
s = pd.Series([10, 20, 30, 40])
s

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
s.tolist()

[10, 20, 30, 40]

In [ ]:
s.to_numpy()

array([10, 20, 30, 40])

In [ ]:
s.to_dict()

{0: 10, 1: 20, 2: 30, 3: 40}

In [ ]:
s.tolist()

[10, 20, 30, 40]

In [ ]:
s[3]

40

In [ ]:
c

hello     30.0
friend    32.0
dear      35.0
dtype: float64

In [ ]:
r=pd.Series([34,45,32,56,98,21,56,36,2,12,90])
r

0     34
1     45
2     32
3     56
4     98
5     21
6     56
7     36
8      2
9     12
10    90
dtype: int64

In [ ]:
r[2]

32

In [ ]:
d=pd.Series([23,35,46])
w=pd.Series([32,76,96])

In [ ]:
v=pd.concat([d,w])
v

0    23
1    35
2    46
0    32
1    76
2    96
dtype: int64

In [ ]:
pd.concat([e,d,w,r])

34         Goa
45    Jalandar
36     Guhawti
0           23
1           35
2           46
0           32
1           76
2           96
0           34
1           45
2           32
dtype: object

In [ ]:
r.drop(1)

0    34
2    32
dtype: int64

In [ ]:
r.sort_values(ascending=False)

1    45
0    34
2    32
dtype: int64

In [ ]:
#doubt
s = pd.Series([1, 2, 3, 4])

print(s.apply(lambda x: x**2))

0     1
1     4
2     9
3    16
dtype: int64

In [ ]:
r=pd.Series([34,45,32,56,98,21,56,36,2,12,90])
r

0     34
1     45
2     32
3     56
4     98
5     21
6     56
7     36
8      2
9     12
10    90
dtype: int64

In [ ]:
r.iloc[-9]

32

In [ ]:
import numpy as np

x = np.nan
print(x)
print(type(x))

nan
<class 'float'>

In [ ]:
r=r.astype(float)

In [ ]:
r

0     34.0
1     45.0
2     32.0
3     56.0
4     98.0
5     21.0
6     56.0
7     36.0
8      2.0
9     12.0
10    90.0
dtype: float64

In [ ]:
r

0     34.0
1     45.0
2     32.0
3     56.0
4     98.0
5     21.0
6     56.0
7     36.0
8      2.0
9     12.0
10    90.0
dtype: float64

In [ ]:
np.random.randint(1,6,10)

array([5, 3, 5, 2, 3, 4, 5, 2, 1, 1])

In [ ]:
name = ["Amit", "Neha", "Rahul"]
code = [101, 102, 103]
age = [25, 30, 28]

print(name)
print(code)
print(age)

['Amit', 'Neha', 'Rahul']
[101, 102, 103]
[25, 30, 28]

In [ ]:
data=list(zip(name,code,age))
df2=pd.DataFrame(data,columns=['name','code','age'],index=['student1','student2','student3'])
df2

           name  code  age
student1   Amit   101   25
student2   Neha   102   30
student3  Rahul   103   28

In [ ]:
city=['ajmer','udaipur','jaipur']
population=[20,50,60]
vehicle=['2-wheeler','4-wheeler','2-wheeler']

In [ ]:
df1=zip(city,population,vehicle)

In [ ]:
df3=pd.DataFrame(df1,columns=['city','population','vehicle'])
df3

      city  population    vehicle
0    ajmer          20  2-wheeler
1  udaipur          50  4-wheeler
2   jaipur          60  2-wheeler

In [ ]:
pd.DataFrame(df1)

         0   1          2
0    ajmer  20  2-wheeler
1  udaipur  50  4-wheeler
2   jaipur  60  2-wheeler

In [ ]:
city=['ajmer','udaipur','jaipur']

In [ ]:
city.sort()
city

['ajmer', 'jaipur', 'udaipur']

In [ ]:
city=['ajmer','udaipur','jaipur']
population=[20,50,60]
vehicle=['2-wheeler','4-wheeler','2-wheeler']

In [ ]:
names = pd.Series(["Amit", "Neha", "Rahul"])
codes = pd.Series([101, 102, 103])
ages = pd.Series([25, 30, 28])

In [ ]:
s3=list(zip(names,codes,ages))
pd.DataFrame(s3,columns=['name','code','age'],index=['student1','student2','student3'])

           name  code  age
student1   Amit   101   25
student2   Neha   102   30
student3  Rahul   103   28

In [ ]:
s3

[('Amit', 101, 25), ('Neha', 102, 30), ('Rahul', 103, 28)]

In [ ]:
Sae = {'name' : ['xyz','abc'],'Marks':[99,10,88]}
print(Sae)

{'name': ['xyz', 'abc'], 'Marks': [99, 10, 88]}