<a href="https://colab.research.google.com/github/gurudattamanpreet/Practice/blob/main/Shiv_Concept_Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd

In [21]:
df=[10,20,30,40]

In [22]:
s=pd.Series(df)

In [23]:
s

0    10
1    20
2    30
3    40
dtype: int64

In [24]:
s=pd.Series([100,200,300],index=['a','b','c'])

In [25]:
s

a    100
b    200
c    300
dtype: int64

In [26]:
c=pd.Series([30,32,35],index=['hello','friend','dear'],dtype='float64')

In [27]:
c

hello     30.0
friend    32.0
dear      35.0
dtype: float64

In [28]:
print('how many places have you visited')
e=pd.Series(['Goa','Jalandar','Guhawti'],index=[34,45,36])
print(e.str.upper(),'\n')
print(e.str.len())
print(e.str.contains('G'))

how many places have you visited
34         GOA
45    JALANDAR
36     GUHAWTI
dtype: object

34    3
45    8
36    7
dtype: int64
34     True
45    False
36     True
dtype: bool

In [29]:
q=pd.Series([10,55,30], index=['price1','price2','price3'])
f=q.mean()
f

31.666666666666668

In [30]:
e.tolist()
e

34         Goa
45    Jalandar
36     Guhawti
dtype: object

In [31]:
s = pd.Series([10, 20, 30, 40])

In [32]:
s.tolist()
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [33]:
s.to_dict()
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [34]:
s.to_numpy()
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [35]:
s = pd.Series([10, 20, 30, 40])
s

0    10
1    20
2    30
3    40
dtype: int64

In [36]:
s.tolist()

[10, 20, 30, 40]

In [37]:
s.to_numpy()

array([10, 20, 30, 40])

In [38]:
s.to_dict()

{0: 10, 1: 20, 2: 30, 3: 40}

In [39]:
s.tolist()

[10, 20, 30, 40]

In [40]:
s[3]

40

In [41]:
c

hello     30.0
friend    32.0
dear      35.0
dtype: float64

In [42]:
r=pd.Series([34,45,32,56,98,21,56,36,2,12,90])
r

0     34
1     45
2     32
3     56
4     98
5     21
6     56
7     36
8      2
9     12
10    90
dtype: int64

In [43]:
r[2]

32

In [44]:
d=pd.Series([23,35,46])
w=pd.Series([32,76,96])

In [45]:
v=pd.concat([d,w])
v

0    23
1    35
2    46
0    32
1    76
2    96
dtype: int64

In [46]:
pd.concat([e,d,w,r])

34         Goa
45    Jalandar
36     Guhawti
0           23
1           35
2           46
0           32
1           76
2           96
0           34
1           45
2           32
3           56
4           98
5           21
6           56
7           36
8            2
9           12
10          90
dtype: object

In [47]:
r.drop(1)

0     34
2     32
3     56
4     98
5     21
6     56
7     36
8      2
9     12
10    90
dtype: int64

In [48]:
r.sort_values(ascending=False)

4     98
10    90
3     56
6     56
1     45
7     36
0     34
2     32
5     21
9     12
8      2
dtype: int64

In [49]:
#doubt
s = pd.Series([1, 2, 3, 4])

print(s.apply(lambda x: x**2))

0     1
1     4
2     9
3    16
dtype: int64

In [50]:
r=pd.Series([34,45,32,56,98,21,56,36,2,12,90])
r

0     34
1     45
2     32
3     56
4     98
5     21
6     56
7     36
8      2
9     12
10    90
dtype: int64

In [51]:
r.iloc[-9]

32

In [52]:
import numpy as np

x = np.nan
print(x)
print(type(x))

nan
<class 'float'>

In [53]:
r=r.astype(float)

In [54]:
r

0     34.0
1     45.0
2     32.0
3     56.0
4     98.0
5     21.0
6     56.0
7     36.0
8      2.0
9     12.0
10    90.0
dtype: float64

In [55]:
r

0     34.0
1     45.0
2     32.0
3     56.0
4     98.0
5     21.0
6     56.0
7     36.0
8      2.0
9     12.0
10    90.0
dtype: float64

In [56]:
np.random.randint(1,6,10)

array([1, 2, 2, 4, 2, 3, 2, 4, 4, 4])

In [57]:
name = ["Amit", "Neha", "Rahul"]
code = [101, 102, 103]
age = [25, 30, 28]

print(name)
print(code)
print(age)

['Amit', 'Neha', 'Rahul']
[101, 102, 103]
[25, 30, 28]

In [58]:
data=list(zip(name,code,age))
df2=pd.DataFrame(data,columns=['name','code','age'],index=['student1','student2','student3'])
df2

           name  code  age
student1   Amit   101   25
student2   Neha   102   30
student3  Rahul   103   28

In [59]:
city=['ajmer','udaipur','jaipur']
population=[20,50,60]
vehicle=['2-wheeler','4-wheeler','2-wheeler']

In [60]:
df1=zip(city,population,vehicle)

In [61]:
df3=pd.DataFrame(df1,columns=['city','population','vehicle'])
df3

      city  population    vehicle
0    ajmer          20  2-wheeler
1  udaipur          50  4-wheeler
2   jaipur          60  2-wheeler

In [62]:
pd.DataFrame(df1)

Empty DataFrame
Columns: []
Index: []

In [63]:
city=['ajmer','udaipur','jaipur']

In [64]:
city.sort()
city

['ajmer', 'jaipur', 'udaipur']

In [65]:
city=['ajmer','udaipur','jaipur']
population=[20,50,60]
vehicle=['2-wheeler','4-wheeler','2-wheeler']

In [66]:
names = pd.Series(["Amit", "Neha", "Rahul"])
codes = pd.Series([101, 102, 103])
ages = pd.Series([25, 30, 28])

In [67]:
s3=list(zip(names,codes,ages))
pd.DataFrame(s3,columns=['name','code','age'],index=['student1','student2','student3'])

           name  code  age
student1   Amit   101   25
student2   Neha   102   30
student3  Rahul   103   28

In [68]:
s3

[('Amit', 101, 25), ('Neha', 102, 30), ('Rahul', 103, 28)]

In [69]:
f = {'name' : ['xyz','abc'],'Marks':[99,10,88]}
print(f)

{'name': ['xyz', 'abc'], 'Marks': [99, 10, 88]}

In [70]:
a=range(1,100,2)

In [71]:
print(list(a))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [72]:
print(list(range(0,101,2)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [73]:
print(tuple(range(0,100,2)))

(0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [74]:
print('how many places have you visited')
e=pd.Series(['Goa','Jalandar','Guhawti'],index=[34,45,36])
print(e.str.upper(),'\n')
print(e.str.len())
print(e.str.contains('G'))

how many places have you visited
34         GOA
45    JALANDAR
36     GUHAWTI
dtype: object

34    3
45    8
36    7
dtype: int64
34     True
45    False
36     True
dtype: bool

In [75]:
print('how many places have you visited')
ae=pd.Series(['Goa','Jalandar','Merut','Shimla'],index=[3,4,6,2])
ae.name='cities'
print(ae)
print(ae.str.len())
print(ae.str.upper())
print(ae.str.contains('G'))

how many places have you visited
3         Goa
4    Jalandar
6       Merut
2      Shimla
Name: cities, dtype: object
3    3
4    8
6    5
2    6
Name: cities, dtype: int64
3         GOA
4    JALANDAR
6       MERUT
2      SHIMLA
Name: cities, dtype: object
3     True
4    False
6    False
2    False
Name: cities, dtype: bool

In [76]:
gh=pd.Series(['apple','boat','cat','tiger','wolf'], index=[2,5,3,1,9])
print(gh)

2    apple
5     boat
3      cat
1    tiger
9     wolf
dtype: object

In [77]:
dr=tuple(zip(gh))
print(dr)
we=pd.DataFrame(dr,columns=['name'])
print(we)

(('apple',), ('boat',), ('cat',), ('tiger',), ('wolf',))
    name
0  apple
1   boat
2    cat
3  tiger
4   wolf

In [78]:
a=(1,2,3)
b=('manchester','christiano','messi')
c=zip(tuple((a,b)))
print(c)

<zip object at 0x7a91031834c0>

In [79]:
print(list(zip(c)))

[(((1, 2, 3),),), ((('manchester', 'christiano', 'messi'),),)]

In [80]:
print(tuple(zip(c)))

()

In [81]:
print(list(c))

[]

In [82]:
a[0]=60
print((tuple(c)))

TypeError: 'tuple' object does not support item assignment

In [83]:
d=list(zip(['a','b','c'], [1,2,3]))
print(d)

[('a', 1), ('b', 2), ('c', 3)]

In [84]:
d1=(['a','b','c'],[1,2,3])
print(d1)

(['a', 'b', 'c'], [1, 2, 3])

In [85]:
f={'name':'rahul','age':25,'school':'higher secondry'}
print(f)

{'name': 'rahul', 'age': 25, 'school': 'higher secondry'}

In [86]:
d=dict(zip(['name','age','school'], ['rahul',25,'higher secondry']))
print(d)

{'name': 'rahul', 'age': 25, 'school': 'higher secondry'}

In [87]:
w=list(zip(['name','age','school'], ['rahul',25,'higher secondry']))
print(w)

[('name', 'rahul'), ('age', 25), ('school', 'higher secondry')]

In [88]:
names=['raj','sheetal','manohar']
roll_num=[101,204,323]

In [89]:
data=dict(zip(names,roll_num))

In [90]:
data=dict(zip(names,roll_num))
pd.DataFrame(data.items(), columns=['Names','Roll_Num'])

     Names  Roll_Num
0      raj       101
1  sheetal       204
2  manohar       323

In [91]:
a=[3,6,1,0,8]
f=['x','y','z','p','q']

In [92]:
sd=tuple(zip(a,f))
print(sd)

((3, 'x'), (6, 'y'), (1, 'z'), (0, 'p'), (8, 'q'))

In [93]:
ds=pd.DataFrame(sd)
print(ds)

   0  1
0  3  x
1  6  y
2  1  z
3  0  p
4  8  q

In [94]:
g=[0,1,2,3,4,5,6,7,8,9]

In [112]:
g[::]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[3, 4]

In [123]:
sw=pd.Series([2,4,5,6,7,8,9])
print(sw)

0    2
1    4
2    5
3    6
4    7
5    8
6    9
dtype: int64

In [127]:
sw.iloc[::2]

0    2
2    5
4    7
6    9
dtype: int64

In [129]:
sw[:]

0    2
1    4
2    5
3    6
4    7
5    8
6    9
dtype: int64

In [131]:
sw[:5]

0    2
1    4
2    5
3    6
4    7
dtype: int64

In [136]:
sw.loc[3:5]

3    6
4    7
5    8
dtype: int64

In [137]:
sw.iloc[3:5]

3    6
4    7
dtype: int64

In [138]:
sw.iloc[3:5]

3    6
4    7
dtype: int64

In [139]:
sw.loc[3:5]

3    6
4    7
5    8
dtype: int64